<table class="table table-striped border">
    <tr>
        <td>app_name</td>
        <td>{{ app.config.app_name }}</td>
    </tr>
    <tr>
        <td>version:</td>
        <td>{{ app.config.version }}</td>
    </tr>
    <tr>
        <td>onboarding_subtitle_text:</td>
        <td>{{ app.config.onboarding_subtitle_text }}</td>
    </tr>
    <tr>
        <td>domain:</td>
        <td>{{ app.config.domain }}</td>
    </tr>
    <tr>
        <td>allow_registration:</td>
        <td>{{ app.config.allow_registration }}</td>
    </tr>
    <tr>
        <td>locked_host:</td>
        <td>{{ app.config.locked_host }}</td>
    </tr>
    <tr>
        <td>allowed_hosts:</td>
        <td>{{ app.config.allowed_hosts }}</td>
    </tr>
    <tr>
        <td>supports_mulriaccounts:</td>
        <td>{{ app.config.supports_mulriaccounts }}</td>
    </tr>
    <tr>
        <td>required_touch_id_or_password:</td>
        <td>{{ app.config.required_touch_id_or_password }}</td>
    </tr>
    <tr>
        <td>locked_conversation_type:</td>
        <td>{{ app.config.locked_conversation_type }}</td>
    </tr>
    <tr>
        <td>avatar_masks:</td>
        <td>{{ app.config.avatar_masks }}</td>
    </tr>
    <tr>
        <td>locked_avatar_mask:</td>
        <td>{{ app.config.locked_avatar_mask }}</td>
    </tr>
    <tr>
        <td>support_calls:</td>
        <td>{{ app.config.support_calls }}</td>
    </tr>
    <tr>
        <td>support_groupchats:</td>
        <td>{{ app.config.support_groupchats }}</td>
    </tr>
    <tr>
        <td>allow_conversations_from_all_hosts:</td>
        <td>{{ app.config.allow_conversations_from_all_hosts }}</td>
    </tr>
    <tr>
        <td>application_color:</td>
        <td>{{ app.config.application_color }}</td>
    </tr>
    <tr>
        <td>launch_screen_color:</td>
        <td>{{ app.config.launch_screen_color }}</td>
    </tr>
</table>